html, body {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

#panel {

    padding-left: 0px;
    background-color: #e5ddd5;
    border-left: 1px solid black;
}

#fond {

    background-size: 366.5px 100%;
    position: fixed;
    min-height: 100%;
    width: 100%;
    opacity: 0.06;
    background-repeat: repeat repeat;
}

#membre {

    
    height:100vh;
    overflow: auto;
    padding-top: 10px;
}
.msg-sent {
    border-radius:3px;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
    background: rgba(185,253,255,0.4);
}
.msg-sent p {
    margin-top: 10px;
}

.message-container .text {

    text-align: center;
    margin-bottom: 10px;
}

.message-container .date {

    font-size: 1em;
    font-style: italic;
    font-weight: 100;
    color: dimgray;
}

.message-container {
    display: block;
    padding: 6px 12px;
    border-radius: 1.3em;
    width: 100px;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.28;
    color: #262626;
    font-family: Open Sans sans-serif;
    background-color: #fff;
    margin-left: 5px;
    margin-bottom: 20px;

}

#form-container {

    position: fixed;
    bottom: 0;
    padding: 10px 15px;
    background-color: #F4F4F4;
    border-left: 1px solid black;
    border-top: 1px solid black
}

#messages {

    position: relative;
    padding: 20px 10px 20px 15px;
    margin: 0;
    min-height: 92vh;
}

.message {

    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
}

